<div class="header">
  <div class="nav-btn">
    <ng-content></ng-content>
  </div>
  <a routerLink="/">
    <div class="logo">⏳️プライドタイマー</div>
  </a>

  <span *ngIf="!isWelcomePage" class="speacer"></span>

  <div *ngIf="!isWelcomePage" class="actions">
    <ng-container *ngIf="userService.user$ | async as user">
      <div class="btn-layout">
        <button
          (click)="openCreateTaskDialog()"
          matRipple
          class="primary-btn"
          [disabled]="(tasks$ | async)?.length"
        >
          <mat-icon class="create-task-icon" inline="true">{{
            isPcScreen ? 'add_circle_outline' : 'add'
          }}</mat-icon>
          <span *ngIf="isPcScreen">
            <ng-container
              *ngIf="(tasks$ | async)?.length == 0; else IsActiveTask"
            >
              タスクを作成
            </ng-container>
            <ng-template #IsActiveTask>進行中</ng-template>
          </span>
        </button>
      </div>
      <button
        class="avatar"
        mat-mini-fab
        [matMenuTriggerFor]="menu"
        [style.background-image]="'url(' + user?.avatarURL + ')'"
      ></button>
      <mat-menu #menu="matMenu">
        <a mat-menu-item routerLink="/my-page">
          <mat-icon>account_circle</mat-icon>
          <span>マイページ</span>
        </a>
        <button mat-menu-item (click)="authService.logout()">
          <mat-icon>logout</mat-icon>
          <span>ログアウト</span>
        </button>
      </mat-menu>
    </ng-container>
  </div>
</div>
