@import 'variables';
@import 'mixins';

:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: $font-default;
  background-color: #fafafa;
  .mat-dialog-container {
    @include sp {
      padding: 24px 16px;
    }
  }

  .mat-drawer-side {
    border: none;
  }

  .mat-card-header-text {
    margin: 0;
  }

  app-crop {
    .mat-dialog-content {
      max-height: 100vh;
    }
  }

  .mat-checkbox-indeterminate.mat-primary .mat-checkbox-background,
  .mat-checkbox-checked.mat-primary .mat-checkbox-background {
    background-color: $color-accent;
  }

  .mat-progress-spinner circle,
  .mat-spinner circle {
    stroke: $color-base;
  }
}
