@import 'variables';
@import 'mixins';

:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: $font-default;
  .mat-dialog-container {
    @include sp {
      padding: 24px 16px;
    }
  }
}
