@import 'mixins';
@import 'variables';

.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
  @include sp {
    padding: 0 16px;
  }
}

.white-btn {
  color: $color-font-black;
  background-color: #fff;
  font-weight: bold;
  font-size: 16px;
  font-family: $font-default;
  background-image: linear-gradient(45deg, $color-main 50%, transparent 50%);
  background-position: 100%;
  background-size: 400%;
  transition: background 0.4s ease-in-out;
  &:hover {
		background-position: 0;
		color: $color-font-white;
	}
}

.speacer {
  flex: 1;
}

.primary-btn {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  background-color: $color-main;
  border: none;
  border-radius: 4px;
  color: $color-font-white;
  font-weight: 500;
  font-size: 14px;
  font-family: $font-default;
}

.fade {
  animation: fadeIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
