@import 'mixins';
@import 'variables';

.container {
  box-sizing: border-box;
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 24px;
  @include sp {
    padding: 0 16px;
  }
}

.white-button {
  color: $color-font-black;
  background-color: #fff;
}

.speacer {
  flex: 1;
}

.primary-btn {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  background-color: $color-main;
  border: none;
  border-radius: 4px;
  color: $color-font-white;
  font-weight: 500;
  margin-right: 24px;
  font-size: 14px;
  font-family: $font-default;
}
