//フォント関係の指定
$font-default: Roboto, 'Helvetica Neue', sans-serif;
$font-logo: Roboto, 'Helvetica Neue', sans-serif;

//色関係の指定
$color-main: #7289da;
$color-sub: #2a5ee7;
$color-background: #23272a;
$color-accent: #ff00d6;
$color-font: #fff;
$color-link: #fff;
