//フォント関係の指定
$font-default: Roboto, 'M PLUS Rounded 1c', sans-serif;
$font-logo: Nico Moji, sans-serif;

//色関係の指定
$color-main: #7289da;
$color-sub: #2a5ee7;
$color-background: #2f3136;
$color-accent: #ff00d6;
$color-font-white: #fff;
$color-font-black: #333333;
$color-link: #fff;
