//フォント関係の指定
$font-default: 'M PLUS Rounded 1c', Roboto, sans-serif;
$font-logo: Nico Moji, sans-serif;

//色関係の指定
$color-main: #7289da;
$color-sub: #2a5ee7;
$color-base: #2a2841;
$color-background: #23272a;
$color-accent: #ff00d6;
$color-warn: #e7376b;
$color-font-white: #fafafa;
$color-font-black: #252525;
$color-link: #fff;
$color-sidenavBackground: #36393f;
$color-sidenavContent: #fafafa;
