<footer>
  <section>
    <div class="github">
      <p>今に集中するために...</p>
      <a href="https://github.com/flock-team/team-sasaki" target="_blank">
        <img
          class="github__icon"
          src="assets/images/github-logo.svg"
          alt="GitHubへのリンク"
        />
      </a>
    </div>
    <div class="developers">
      <h3>Developer</h3>
      <ul>
        <li>Tastuya Sasaki</li>
        <li>Yuki Ishii</li>
        <li>Koki Inoue</li>
      </ul>
    </div>
    <div class="dev-date">
      <h3>Date of Development</h3>
      <p>2021/02/27〜2021/02/28</p>
    </div>
  </section>

  <div class="divider"></div>

  <section class="under">
    <p class="logo">⏳️プライドタイマー</p>
    <span class="copy">&copy; team-sasaki with Flock</span>
  </section>
</footer>
