@import 'mixins';

form {
  mat-form-field {
    width: 100%;
  }
}

.disabled {
  background-color: rgba(#000, 0.12);
}

.selectors {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  @include pc {
    gap: 24px;
  }
}
