<div class="sidenav-wrapper">
  <section class="task">
    <ng-container *ngIf="activeTask; else noTask">
      <h1 class="task__title">{{ activeTask.title }}</h1>
      <div class="divider"></div>
      <div class="timer">
        <mat-progress-spinner
          class="timer__spinner"
          [diameter]="250"
          [value]="value"
        >
        </mat-progress-spinner>
        <div class="timer__limit">
          <p class="timer__remaining-time">{{ limitTime }}</p>
          <p class="timer__limit-time">{{ timeLimitDate }}</p>
        </div>
      </div>
      <div class="task__maxim">
        <h2 class="task__maxim-title">今日の名言</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit,
          ducimus?
        </p>
      </div>
      <div class="task__buttons">
        <button class="task__button" (click)="openGiveupDialog()">
          諦める
        </button>
        <button class="primary-btn" (click)="openFinishDialog()">
          タスク完了！
        </button>
      </div>
    </ng-container>
    <ng-template #noTask>
      <h1 class="task__nothing">現在タスクは作成されていません</h1>
    </ng-template>
  </section>
</div>
