<mat-sidenav-container>
  <mat-sidenav
    class="side"
    fixedInViewport
    [fixedTopGap]="isPcScreen ? 64 : 56"
    #sidenav
    [mode]="isPcScreen ? 'side' : 'hide'"
    opened
  >
    <button
      (click)="sidenav.toggle()"
      *ngIf="!isPcScreen"
      class="side__close"
      mat-icon-button
    >
      <mat-icon>clear</mat-icon>
    </button>
    <app-sidenav></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header class="header">
      <button
        class="menu-btn"
        (click)="sidenav.toggle()"
        mat-icon-button
        *ngIf="!isPcScreen"
      >
        <mat-icon inlne="true">menu</mat-icon>
      </button>
    </app-header>
    <div class="main">
      <router-outlet></router-outlet>
    </div>
    <app-footer class="footer"></app-footer>
  </mat-sidenav-content>
</mat-sidenav-container>
