<mat-sidenav-container class="wrapper">
  <mat-sidenav
    class="side"
    fixedInViewport
    [fixedTopGap]="isPcScreen ? 64 : 56"
    #sidenav
    [mode]="isPcScreen ? 'side' : 'hide'"
    opened
  >
    <button
      (click)="sidenav.toggle()"
      *ngIf="!isPcScreen"
      class="side__close"
      mat-icon-button
    >
      <mat-icon>clear</mat-icon>
    </button>
    <app-sidenav
      (spinnerValue)="setSpinnerValue($event)"
      (remainingTime)="setRemainingTime($event)"
    ></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header class="header">
      <button
        class="menu-btn"
        (click)="sidenav.toggle()"
        mat-icon-button
        *ngIf="!isPcScreen"
      >
        <mat-icon inlne="true">menu</mat-icon>
      </button>
    </app-header>
    <div class="timer-layout" *ngIf="(tasks$ | async)?.length">
      <button class="timer-btn" mat-raised-button (click)="sidenav.toggle()">
        <mat-progress-spinner
          class="timer-spinner"
          [diameter]="100"
          [value]="value"
        >
        </mat-progress-spinner>
        <p>{{ time }}</p>
      </button>
    </div>
    <div class="grid">
      <div class="main">
        <router-outlet></router-outlet>
      </div>
      <app-footer class="footer"></app-footer>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
