.main-sidenav {
  width: 400px;
  height: calc(100vh - 130px);
  position: fixed;
  top: 80px;
  left: 0;
}

.main {
  width: calc(100% - 300px);
  height: calc(100vh - 130px);
  position: fixed;
  top: 80px;
  left: 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
