<div class="container">
  <section class="profile" *ngIf="user$ | async as user">
    <div class="profile__image">
      <div
        class="profile__background-image"
        [style.background-image]="'url(' + user.avatarURL + ')'"
      ></div>
      <div class="profile__button-wrapper">
        <label class="profile__button">
          画像を変更
          <input
            class="profile__file"
            type="file"
            accept=".png, .jpg, .jpeg"
            (change)="openCropDialog($event)"
            #imageSelecter
          />
        </label>
      </div>
    </div>

    <div class="profile__user">
      <mat-form-field class="example-full-width">
        <mat-label>ユーザー名</mat-label>
        <input matInput [formControl]="userName" (change)="nameChanged()" />
        <mat-error *ngIf="userName.hasError('required')">
          ユーザー名を入力してください
        </mat-error>
      </mat-form-field>
      <button
        class="profile__nameButton"
        [disabled]="!isUpdated"
        mat-raised-button
        (click)="updateUserName()"
      >
        ユーザー名を変更
      </button>
    </div>
    <button (click)="withdrawal()">退会する</button>
  </section>
</div>
